<div class="pagination">
  <div class="pagination__buttons">
    <span id="cc" class="button previous" style="width: 159px">
        <a id="home__href__err" class="hv-btn" style="cursor: pointer">
          <span class="button__icon"><i class="fa-solid fa-home"></i></span>
          <span class="button__text">Home</span>
        </a>
      </span>
      <span id="cc" class="button previous">
        <a a="{% url login %}" class="hv-btn" style="cursor: pointer">
          <span class="button__icon"><i class="fa-solid fa-right-to-bracket"></i></span>
          <span class="button__text">Log In</span>
        </a>
      </span>
    </span>
  </div>
</div>