@media (max-width: 900px) {
  .now__playing, .steam-game-status {
    display: none !important; 
    opacity: 0.6;
  }
}

@media (max-width:1465px) {
  .logged_in {
    display: none !important; 
  } 
}

#cc i {
  transition: all .3s ease-in-out;
  color: var(--color)
}

#cc:hover i {
  color: var(--background);
  transition: all .3s ease-in-out;
}

.header {
  transition: all 0.3s, box-shadow 0.3s ease;
}

.now__playing {
  position: fixed;
  right: var(--now-playing-right, 40px);
  bottom: var(--now-playing-bottom, 35px);
}

#nowPlayingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: none;
  border: 1px solid #aaa;
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 15px;
  backdrop-filter: blur(0.5rem);
}

.popup-content {
  max-width: 300px;
  text-align: center;
}

.show-popup {
  display: block;
}

html, body {
  scrollbar-width: thin;
  scrollbar-color: var(--header);
}
