{% extends 'layout.html' %}
{% load math blog %}
{% block title %}Blog{% endblock %}
{% block og_title %}Blog{% endblock %}
{% block style %}
  .read-more {
    text-decoration: none !important;
  }

  .post-title {
    font-size: 2.2rem !important;
  }

  .button {
    max-width: none !important;
  }

  .mj {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 20px auto
  }

  .del a:hover {
    background: #e45c5c !important;
    color: var(--background);
    border-radius: 8px;
    box-shadow: 0 0 15px #e45c5c !important;
    border: 3px solid #e45c5c !important;
  }
  
  .border {
    margin-top: 20px !important; 
    padding: 50px;
    padding-bottom: 10px !important;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    background: var(--background-border);
  }

  .border:hover {
    box-shadow: 0 0 2rem 0 var(--border-color);
    transition: all .3s ease-in-out;
  }

  .post:not(:last-of-type) {
    border-bottom: 3px solid var(--border-color);
  }

  .edit_btn {
    background: var(--background-border) !important;
  }

  .edit_btn:hover {
    background: var(--color) !important;
  }
{% endblock %}
{% block body %}
  <article class="post" style="margin-bottom: -30px; border-bottom: none !important;">
    <div style="display: flex; justify-content: space-between;">
      <h1 class="post-title" style="font-size: 2.625rem !important;">{% if page_obj.next_page_number > 1 %}Posts{% else %}Recent Posts{% endif %}</h1>
      {% if user.is_superuser %}
        <div>
          <div class="pagination" style="margin-top: 5px; margin-bottom: 10px">
            <div class="pagination__buttons">
              <span id="cc" class="button previous">
                <a href="/blog/create" style="overflow: clip">
                  <span class="btn__cng">
                    <span class="button__icon"><i class="fa-solid fa-plus fa-lg"></i></span>
                    <span class="button__text">Create Post</span>
                  </span>
                </a>
              </span>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </article>
  {% for post in page_obj %}
    <article class="post on-list border">
      <div style="display: flex; justify-content: space-between;">
        <h1 class="post-title">
          <a href="{{ post.slug }}">{{ post.name }}</a>
        </h1>
        {% if user.is_superuser %}
          <div class="pagination" style="margin-top: 0px; margin-bottom: 10px">
            <div class="pagination__buttons">
              <span id="cc" class="button del">
                <a data-post-id="{{ post.id }}" style="overflow: clip; white-space: unset; cursor: pointer; background: var(--background-border);" class="delete_button">
                  <span class="btn__cng">
                    <span class="button__icon"><i class="fa-solid fa-trash fa-lg"></i></span>
                  </span>
                </a>
              </span>
              <span id="cc" class="button">
                <a href="/blog/edit/{{ post.id }}" style="overflow: clip; white-space: unset;" class="edit_btn">
                  <span class="btn__cng">
                    <span class="button__icon"><i class="fa-solid fa-pencil fa-lg"></i></span>
                  </span>
                </a>
              </span>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="post-meta">
        <time class="post-date">{{ post.date|date:"m-d-Y" }}</time>
        <span class="post-author">— Written by {{ post.author }}</span>
        <span class="post-read-time">
          — 
          {% if post.calculated_read_time >= 60 %}
              {{ post.calculated_read_time|divide:"60" }} hr
          {% else %}
              {{ post.calculated_read_time }} min
          {% endif %}
          read
        </span>
      </div>
      <span class="post-tags">
        {% for tag in post.tags.all %}
          <a href="/tags?tag={{ tag|lower }}&search=false">#{{ tag }}</a>&nbsp;
        {% endfor %}
      </span>
      {% if post.cover_image %}
        <figure class="post-cover">
          <img src="{{ post.cover_image.url }}" alt="{{ post.name|title }} Cover" />
        </figure>
      {% endif %}
      <div class="post-content">
        {{ post.body_as_plain_text|slice_words:50 }}...
      </div>
      <div>
        <a class="read-more" href="{{ post.slug }}">Read more&nbsp;<span class="arrow"><i style="color: var(--color)" class="fa-solid fa-arrow-right fa-sm"></i></span></a>
      </div>
    </article>
  {% empty %}
    <article class="post on-list">
      {% ifchanged %}
        <h1 class="post-title">There are currently no posts.</h1>
      {% endifchanged %}
    </article>
  {% endfor %}
  <div>
    <a class="link-animate" href="/tags">Looking for a diffrent post? Try searching by tag.</a>
  </div>
  <div class="mj">
    <div class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h">Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        <hr>
      </div>
      <div class="pagination__buttons">
        {% if page_obj.has_previous  %}
          <span class="button previous">
            <a href="?page={{ page_obj.previous_page_number }}">
              <span class="button__icon">←</span>
              <span class="button__text">Previous</span>
            </a>
          </span>
        {% endif %}
        
        {% if page_obj.has_next  %}
          <span class="button next">
            <a href="?page={{ page_obj.next_page_number }}">
              <span class="button__text">Next</span>
              <span class="button__icon">→</span>
            </a>
          </span>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% if user.is_superuser %}
  {% block script %}
    {% include 'site/del-btn-blog.html' %}
  {% endblock %}
{% endif %}
